html,body{
    margin: 0;
    padding: 0;
}

/* Navigation */
nav{
    height: 100px;
    width: 100%;
    color: #fff;
    background-color: #000;
    display: flex;
    justify-content: space-around;
}
.navButton{
    margin: 0;
    line-height: 100px;
    color: #fff;
    text-decoration: none;
}
/* Register Form */
.registerForm,.loginForm{
    text-align: center;
    font-size: 30px;
}
.registerForm input,.loginForm input{
    text-align:center;
}